
.superior{
    padding-inline: 1.5rem;
    padding-block: 2rem;
    border-radius: 5px 5px 0 0;
    background-color: white;
}
.superior p:nth-of-type(1){
    font-weight: 700;
    line-height: 1.25;
    color: var(--Bright-Yellow);
    margin-bottom: 1rem;
}
.superior p:nth-of-type(2){
    line-height: 1.625rem;
    margin-bottom: 1rem;
}
.esquerda{
    background-color: var(--Cyan);
    padding: 1.5rem;
}
.esquerda div p:nth-of-type(1){
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
}
.esquerda div p:nth-of-type(2){
    color: white;
    opacity: 0.5rem;
}
.esquerda div{
    display: flex;
    gap: 0.75rem;
    margin-bottom: 0.25rem;
    align-items: center;
    
}
.esquerda P:nth-of-type(2){
    color: white;
    line-height: 1.625rem;
    margin-bottom: 1.625rem;

}

.esquerda button{
    padding-block: 1rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    line-height: 1.125rem;
    border: none;
    background-color: var(--Bright-Yellow);
    border-radius: 0.313rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011)
}

.direita{
    background-color: var(--light-cyan);
    padding: 1.5rem;
    border-radius: 0 0 5px 5px;
}
.direita p{
    line-height: 1.25rem;
    font-size: 0.875rem;
    color: white;
    opacity: 0.75;
}
.esquerda > p {
    color: white;
    line-height: 1.625rem;
    margin-bottom: 1.625;
}